* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

img {
    width: 100px;
}

.container {

    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background: violet;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    width: fit-content;

}

.shadow {
    width: 100px;
    height: 100px;
    background: red;
    box-shadow: -10px 0 10px rgba(red, green, blue, alpha);
    transition-duration: 1s;
    transition-timing-function: ease;
}

.shadow hover {
    background: blue;
}

header {
    border-bottom: 1px solid rgba(red, green, blue, alpha);
    background: white;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    font-size: 500;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

header nav ul a {
    color: black;
}

header.nav-logo span {
    color: salmon;

}

header nav ul a :hover {
    color: darkmagenta;
    text-decoration: underline;
}

header.nav-logo span {
    color: blueviolet;
}

@media screen and (max-width:768) {
    header nav ul {
        display: none;
    }
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero h1 {
    font-size: 3rem;
    line-height: 100%;
}

.hero h1 span {
    display: block;
    color: aqua;

}

.hero h2 {
    font-size: 1.5rem;
    margin-top: 0.8rem;
    font-weight: 500;

}

.hero .btn-wrapper {
    display: flex;
    gap: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hero .icon .wrapper a {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    background: black;
    color: white;
    border: radius 100px;
    margin-right: 0.5rem;

}

.hero.icons-wrapper a:hover {
    background: violet;
}



@media screen and (max-width: 992px) {
    .hero .container {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    .hero img {
        width: 200px;
    }
}

@media screen and (max-width: 540px) {
    .hero h1 {
        font-size: 2.5rem;
    }
}

.about .container {
    max-width: 2rem;
    display: grid;
    gap: 1rem;

}

.about.content h2 {
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.about .content h2 span {
    color: violet;
}

.about.content.btn {
    margin-top: 1rem;
}